@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-text: #6a6a6a;
  --color-main: #19b788;
  --color-secondary: #039387;
  --color-third: #c0f8e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-text)
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  h1 {
    @apply text-black text-[28px] font-semibold;
  }

  h2 {
    @apply text-black text-[18px] font-semibold;
  }

  a {
    @apply no-underline rounded-lg py-3 px-5 w-[250px] text-gray-400 text-[18px] font-medium cursor-pointer transition duration-300 ease-in-out hover:text-main hover:bg-gray-700;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}
